/* CSS Style Sheet for Good Earth  */

/* Global Style */ 
body{ 
    background-color: aliceblue;
    margin: 0; 
    padding: 0; 
    font-family: sans-serif; 
}

div#container { 
    background-color: cadetblue; 
    width:1024px; 
    /* centers the container */ 
    margin: auto; 
}

header { 
    background-image:url('/images/trees_banner.jpg');
    background-position: right; 
    background-size: cover;
    background-color: beige; 
    width: 100%; 
    height: 150px;
    margin: 0; 
}

header h1 {
    text-align: center;
    padding-top: 50px; 
    color: #5535a5; 
    text-shadow: 1px 1px 1px black; 
    margin: 0; 
    font-family: 'Quicksand', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Shadows Into Light Two', cursive; 
    font-size: 65px; 
}

nav { 
    width: 100%;
    background-color:goldenrod; 
    clear: both; 
    margin: 0 ; 
}

nav ul { 
    margin: 0; 
    padding: 0;
    overflow: hidden; 
    list-style: none; 
}
 
nav ul li { 
    float: left; 
}

nav ul li a { 
    display: block; 
    color: white; 
    text-align: center; 
    text-decoration: none ; 
    padding: 14px 16px; 

}

nav ul li a: hover {
    background-color: firebrick
}

.active { 
    background-color: burlywood; 
}

footer { 
    width: 100%; 
    background-color: #000; 
    color: darkgray; 
    text-align: center;
    padding: 20px 0; 
}

.keepOpen { 
    clear: both
}

/*index.html*/ 
img#home-img {
    width:400px; 
    display: block; 
    margin: 15px; 
    border:5px outset yellow;
    float:left;  
}

h2#h2-home { 
    float:left; 
    margin-top: 10px; 
    margin-bottom: 0; 
}

p#p-home { 
    float: left; 
    width 56%; 
    margin-top: 10px; 
}

/* about.html */ 
img#about-img {
    width: 400px; 
    display: block; 
    margin: 15px; 
    border: 5px outset yellow; 
    float: left;   
}

h2#h2-about{ 
    float: left; 
    margin-top: 10px; 
    margin-bottom: 0; 
    font-family: 
}




/* Products Gallery*/ 

div#gallery {
    width:100%; 
    border:3px dotted green; 
}

figure {
    width: 250px; 
    float: left ; 
    margin: auto; 
    box-shadow: 2px 3px 10px #000; 
    background: yellow; 
                                                                                      
    
}

figure img { 
    width: 200px; 

}

/* contact.html */ 

h2#h2-contact { 
    margin-left: 10px; 
    clear: both;
} 

form#form-contact { 
    margin-left: 10px;
}

form input{ 
    margin-bottom: 10px; 

}

button#button-contact { 
    width: 80px; 
    height: 40px; 
    font-weight: 500; 
    margin-bottom: 15px; 
    box-shadow: 1px 1px 5px #000; 
}

div#map {
    float:right; 
    margin:right; 
    margin-right: 20px; 
}

div#map h2{
    margin-top: 0; 
}