/*  stylesheet for social media website */

/* CSS Reset */ 
html, body, div, header, h1, h2, h3, h4, h5, h6, nav, ul, ol, li, p, footer { 
    margin: 0; 
    padding: 0;}

body { 
    background-color: #ea977b; 
    font-family: sans-serif; 
}

div#container { 
    display: flex;
    flex-flow: column;
    flex-direction: row; 
    flex-wrap: wrap; 
    background-color: #fff; 
    width: 80%; 
    max-width: 1024%; 
    margin: auto;     
}

header { 
    display: flex; 
    flex-direction: row;
    justify-content: flex-start; 
    background:linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); 
    width: 100%; 
    height: 300px; 
}

header img#profile_img{
    display:block;    
    width: 200px;
    height: 200px;   
    border-radius:100%;
    background-color:#cecece;
    align-self:flex-end;
    margin: 8px 16px;
}

header div#profile_info{
    display:flex; 
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-end;
    margin-left:32px;
}

div#profile_info h2{

    width:100%;
    order:1;
    font-size:2em;
}

div#profile_info h4{
   width:100%;
   order:2;
   font-size:1em;
}
/* Navigation Starts */ 
nav{
   width:10%;
   margin:10px 0 0 90px;
   order:1;    
}
nav ul{
    list-style: none;
}
nav li{
    
}
nav li a{
  text-decoration: none;
  font-family:sans-serif;
  color:#000;    
}

nav li a:hover { 
        color: gray; 
}

/* Navigation Ends */ 

div#content{
    width:75%;
    order:2;
}

div#content div.post {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin:8px auto;
    width:85%;
    height:auto;
    background-color:#fff;
    box-shadow: 2px 2px 2px black;
    
}
div#content div.post img.ppp{
    display:block;
    order: 1;
    margin:6px;
    background-color:lightgray;
    width:120px;
    height:120px;
    
}

div#content div.post-info{  
    order: 2; 
    width:75%; 
}

div#content div.post h3.pnp{
    order:2;
    width:60%;
    margin: 6px 0; 
}

div#content div.post p.time-stamp{
    order:3;
    font-size:0.9em; 
    font-weight: 500; 
    color: gray; 
}

div#content div.post div.post-foot{ 
    display:flex;
    order:3; 
    flex-direction: column; 
    width: 100%; 
}

div#content div.post div.post-foot h5.p-com{
    order:1; 
    margin: 6px; 
}

div#content div.post div.post-foot h5.p-likes{
    order:2;
    margin: 6px; 
}

/*Comment Title H5*/
div#content div.post div.post-foot div.p-comments h5{
    flex: 100 1 auto;
    flex-wrap: wrap;    
    order:1;
}
/* Comment Picture*/
div#content div.post div.post-foot div.p-comments .com-pic{
    flex:100;
    order:2;
    border-radius:100px;
    width:50px;
}
/* Comment Paragraph*/
div#content div.post div.post-foot div.p-comments .com-p{
    order:3;
}

div#content div.post div.post-foot div.p-likes{
    order:2;
    margin:6px;
    color:darkgray;
}


footer{
    width:100%;
    order:3;
    text-align: center; 
    color: aliceblue; 
    margin: 12px; 
}