
/* Style for Shadee's blog website */

/* Reset */
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li{
  margin: 0;
  padding:0;    
}

/* Universal Style */

body {
    background-color: darkgray; 
}

div#container{ 
    display: flex; 
    flex-direction: column; 
    margin:auto; 
    width: 100%; 
    background-color: #fff0f0; 
}

header#blog-head{ 
    width: 100%;
    height: 300px; 
    font-family: sans-serif; 
    text-align: center; 
    background-color: beige; 
}

/* Blog post */ 
    div#blog-post{ 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    width: 100%; 
    margin: 15px 0; 
    padding: 10px; 
    background-color: #ffffff; 
    box-shadow: 3px 3px 2px grey; 
}

img#post-img{ 

}

