url('https://fonts.googleapis.com/css?family=Open+Sans:300');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #e5e5e5; 
}

.gallery {
  width: 640px; 
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 200px; 
    height: 150px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

h1 {
  margin: 40px 0;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

h4{ 
font-stretch: expanded;
    text-align: center; 
    padding: 5px; 

}

progress {
    width: 250px;
    height: 20px; 
    position: absolute; 
    
}

h3 {
  margin: 40px 0;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

div.awards {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.awards:hover {
    border: 1px solid #777;
}

div.awards img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

form{
    float: left; 
}

form#form-contact { 
    margin-left: 10px;
}

form input{ 
    margin-bottom: 10px; 

}

button#button-contact { 
    width: 80px; 
    height: 40px; 
    font-weight: 500; 
    margin-bottom: 15px; 
    margin-top: 10px;
    box-shadow: 1px 1px 5px #000; 
}

div#map {
    float:right; 
    margin-top: 0;
    margin-right: 20px;
}

div#map h2{
    margin-top: 0; 
}

/* Responsive layout */

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;  
    }
    
    .gallery{ 
        width: 100%; 
        height: auto; 
        padding: 15px; 
    }
    
    form#form-contact { 
    margin-left: 10px;
}